body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    margin-bottom: 100%;
    max-width: 100%;
}

header {
    gap: 200px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: blueviolet;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo-title img {
    height: 70px;
    border-radius: 8px;
    position: relative;
    top: -10px;
}

h1 {
    margin-left: 10px;
    position: relative;
    top: -10px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    list-style: none;
    gap: 20px;
    position: relative;
    padding: 10px;
}

nav ul li {
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px;
    color: whitesmoke;
    transform: translateX(-100%);
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

nav ul li a:hover {
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: whitesmoke;
}

.navigation {
    position: relative;
    right: -50px;
    padding: 7px;
    width: 100px;
    top: -10px;
    border-radius: 8px;
    background-color: chartreuse;
    color: rgb(155, 10, 10);
    margin-right: 50px;
}

.settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -20px;
    background-color: chocolate;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    transform: translateY(-100%);
    opacity: 0;
    animation: slideIn 2s ease-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }    
}

.search {
    padding: 10px;
    align-items: center;
    margin-left: 30px;
}

input[type="search"] {
    width: 300px;
    border-radius: 5px;
}

.settings input {
    border-radius: 5px;
}

.settings input:hover {
    text-decoration: underline;
}

.selection {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.select-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50vw;
    background: rgba(161, 159, 161, 0.5);
    justify-content: center;
    align-items: center;
    margin-bottom: -400px;
    padding: 10px;
}

.popup-content {
    font-size: 24px;
    background: blueviolet;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
    width: 300px;
}

.popup-content button {
    margin: 10px;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bolder;
}

.popup-content button:hover {
    background-color: chocolate;
    text-decoration: underline;
}

.banner {
    position: static; 
    width: 100vw;
    white-space: nowrap;
    animation: moveBanner 10s linear infinite;
    overflow: scroll;
}

.banner img {
    height: 200px;
    width: 30vw;
    border-radius: 5px;
}

.banner img:hover {
    transform: scale(1.01);
}

h2 {
    padding: 10px;
    font-size: 35px;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 24px;
    padding: 5px;
    margin-top: -20px;
}

.advice {
    text-align: center;
    margin-top: -25px;
}

.car-logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    object-fit: cover;
    padding: 20px;
}

.car-logo img:hover {
    transform: scale(1.02);
}

.subaru-logo img {
    padding: 5px;
    width: 150px;
}

.toyota-logo img {
    padding: 5px;
    width: 180px;
}

.nissan-logo img {
    padding: 5px;
    width: 120px;
}

h3 {
    padding: 10px;
    margin-left: 20px;
    
}

.cars {
    padding: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.items {
    display: flex;
    flex-direction: column;
    min-height: 450px;
    padding: 10px;
    justify-content: space-between;
    align-items: flex-start;
    border-style: groove;
    border-color: aqua;
    border: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.items img {
    width: 100%;
    height: 140px;
    object-fit: contain;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.items img:hover {
    transform: scale(1.02);
}

.price {
    color: chocolate;
    font-size: 24px;
}

.description {
    position: relative;
    text-align: left;
    flex-grow: 1;
    margin-left: 10px;
}

.btn {
    display: flex;
    gap: 10px;
    margin-top: auto;
    padding: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    color: bisque;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
}

.contact p {
    margin: 0;
    padding: 0;
}

.rights {
    display: flex;
    align-content: flex-end;
    margin-right: 50px;
}

.social-icons {
    justify-content: center;
    align-items: center;
}

.social-icons a {
    color: darkgrey;
    font-size: 27px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: white;
}

